/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}










/* Accueil */
html, 
body {
    background-color: rgb(126, 97, 255);
    color: rgb(12, 0, 66);

    font-family: 'Roboto', serif;
}

/* Main center */
.main {
    width: 65%;
    height: 300px;

    margin: 250px auto;
}

.title {
    text-align: center;
    font-size: 70px;

    margin-bottom: 10px;
}

.citation{ 
    text-align: center;
    font-family: serif;
}

.navbar{
    text-align: center;
    
    margin: 20px auto;
}

.navbar a{
    display: inline-block;

    margin: 5px;

    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;

    color: #0c0042;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(194, 181, 255);
    transition: .3s;
}

/* Navbar others pages  */
.nav-others-pages{
    background-color: #ff006283;
}


















/* Page : Positions */
.content-pages {
    width: 80%;

    margin: 50px auto;
}

.title-card {
    color: #0c0042;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px 10px 15px;
}


.card {
    border: 1px solid #0c0042;
    display: inline-block;
   
    position: relative;
     /* width: 48.5%;  */
    width: 100%; 
    min-height: 400px;
    
    margin: 0 10px 15px 0;
    padding: 0;
}



.hr-card {
    width: 95%;

    border: .5px dashed #ff006283;
}

.content-card {
    
    margin: 0 auto;
    width: 95%; 
}
.p-positions {
    display: block;
}

.important-positions {
    color: rgb(194, 181, 255);
}







/* Page : Positions - Static */
.img-static{
    position: static;
    margin-top: 50px;
    padding-left: 20px;

    border: 2px solid rgb(194, 181, 255);
}

/* Page : Positions - Relative*/
.img-relative{
    position: relative;
    top: 10px;
    
    left: 200px; 

    padding-right: 10px;
    
    border: 2px solid rgb(194, 181, 255);
}

/* Page : Positions - Absolute*/
.img-absolute{
    position: absolute;
    
    padding-bottom: 10px;
    border: 2px solid rgb(194, 181, 255);

    right: 10px;
}

/* Page : Positions - Fixed*/
.img-fixed{
    position: fixed;
    top: 100px;
    right: 20px;

    padding-bottom: 10px;
    border: 2px solid rgb(194, 181, 255);

}

/* Page : Positions - Sticky */
.img-sticky{
    position: sticky;
    top: 10px;
    left: 200px;
    bottom: 10px;
  

    padding-top: 10px;
    border: 2px solid rgb(194, 181, 255);

}


/* Page : Positions - float: right */
.img-right{
    float: right;
    margin-right: 15px;

    padding: 15px;
    border: 2px solid rgb(194, 181, 255);

}


/* Page : Positions - float: left */
.img-left{
    float: left;
    margin-left: 15px;

    padding: 15px;
    border: 2px solid rgba(195, 181, 255, 0.493);

}

/* Page : Positions - z-index */
.img-index-1{
    position: relative;
    border: 2px solid rgb(195, 181, 255);
    z-index: 4;
}

.img-index-2{
    
    border: 2px solid rgb(195, 181, 255);

    position: relative;
    left: -30px;
    top: 30px;
    
    z-index: 3;
}


/* Positions : media queries */

@media screen and (max-width: 1167px) {
    
    .card {
        width: 100%;
}

    /* Page : Positions - Fixed*/
    .img-fixed{
        top: 450px;
}
}





















/* Page : Background */


.card-back{
    border: 1px solid #0c0042;

    display: inline-block;
    width: 48.5%;

    min-height: 400px;
    
    margin: 0 10px 15px 0;
    padding: 0;
}







/* Background-color */
.c-color {
    background-color: #ff006283;
}

/* Background-image */
.c-image {
    background-image: url("img/paysage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.c-image--attach {
    background-image: url("img/icons.png"),
                      url("img/paysage.png");
    background-size: 50px, cover;
    background-position: bottom center, center;
    background-repeat: repeat-x;
    background-attachment: local ,fixed;
}

.c-image--clip {
    background-image: url("img/paysage.png");
    background-clip: padding-box;
}


.c-image--linear-gradient {
    background-image: 
        linear-gradient(to top, rgba(140, 0, 255, 0.171), rgba(47, 0, 255, 0.925)),
        url("img/paysage.png");

    background-attachment: local, fixed;
    background-size: cover;
}

.c-image--combiner {

    background: 
            local linear-gradient(to bottom, rgba(173, 121, 121, 0.87), rgba(255, 145, 0, 0.123)),
            center top / cover fixed url("img/paysage.png");

}


/* Background : media queries */

@media screen and (max-width: 1167px) {


    .card-back {
        width: 100%;
}

}

















/* Page : Flexbox */


.container-flex {
    width: 100%; 
    height: 600px;
    margin: 0 10px 15px 0;
    /* flex */
    display: flex;
    flex-flow: row wrap;
    /* align-content: flex-end; */
    
    border: 1px solid #0c0042;

    /* background */

    /* Text */

    /* Others */
}



/* Page : Flexbox - Items*/

.items {
    width: 100px;
    height: 100px;
    margin: 15px;

    border: 2px solid #09003b;

    align-self: flex-end;
}

.item1 {
    /* height: 100px; */

    background-color: #331aa1;
    /* flex */
    flex: 0 1 150px;
    align-self: flex-start;
}

.item2 {
    /* height: 200px; */

    background-color: #a11a1a;
    /* flex */
    flex: 1 1 150px;
}

.item3 {
    /* height: 150px; */

    background-color: #5ba11a;
    /* flex */
    flex: 2 1 150px;
    
    align-self: flex-start;
}

.item4 {
    /* height: 300px; */

    background-color: #1aa19a;
    /* flex */
    flex: 3 1 150px;
    
}

.item5 {
    /* height: 80px; */

    background-color: #a1761a;

    /* flex */
    flex: 0 1 150px;
    
    align-self: flex-start;
}

















/* Page : Pseudo-elements */




.navbar-p-elements{
	

	font-family: Verdana, Geneva, Tahoma, sans-serif;

	position: relative;
	margin: 0 auto;
	

	top: 200px;
    width: 250px;

    background-color: #40386b;
}

.navbar-p-elements a{

    padding: 10px;
   

    color: #000;
    text-decoration: none;

    display: block;
	border: 1px solid rgb(0, 0, 0);
	
	transition: color .3s;
}

.navbar-p-elements a:hover{
	color: #FFF;

   
}

.navbar-p-elements a::before{ 
    content: "";

    display: inline-block;
    
    width: 15px;
    height: 15px;


	vertical-align: middle;
    margin-right: 15px;
	margin-top: -3px;

    background: url(img/home.svg) center center / contain no-repeat;

}

.navbar-p-elements .navbar-actu::before, .navbar-p-elements .navbar-events::before{
	background: url(img/calendar.svg) center center / contain no-repeat;
}
.navbar-p-elements .navbar-messages::before{
	background: url(img/messages.svg) center center / contain no-repeat;
}




















/* Page : Grid */





